@using Flight_eBooking.Data.Enums;
@model Flight_eBooking.Core.ViewModels.EditFlightViewModel

@{
    ViewData["Title"] = "Flight Details";
}

<div class="py-5 text-center">
    <h2>Flight Details for @Model.Flight.FlightName</h2>
</div>
<div class="row g-5">
    <div class="col-md-6 col-lg-4 container" style="justify-content:center; align-items:center; display:flex; margin-top:10px;">
        @using (Html.BeginForm("Details", "Flights"))
        {
            @Html.HiddenFor(h => @Model.Flight.Id)
            ;
            <div class="row g-3">
                <div class="col-sm-6">
                    <label asp-for="@Model.Flight.FlightName" class="form-label" style="font-weight:bold;"></label>
                    <label>@Model.Flight.FlightName</label>
                </div>
                <div class="col-sm-6">
                    <label asp-for="@Model.Flight.DepartureDate" class="form-label"></label>
                    <input asp-for="@Model.Flight.DepartureDate" class="hasDatePicker" autocomplete="firstname" aria-required="true" readonly/>
                    <span asp-validation-for="@Model.Flight.FlightName" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="row g-3" style="margin-top:15px">
                <div class="col-sm-6">
                    <label asp-for="@Model.Flight.Seats" class="form-label"></label>
                    <input asp-for="@Model.Flight.Seats" class="form-control" autocomplete="lastname" aria-required="true" readonly />
                    <span asp-validation-for="@Model.Flight.Seats" class="text-danger">
                    </span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="@Model.Flight.TicketPrice" class="form-label"></label>
                    <input asp-for="@Model.Flight.TicketPrice" class="form-control" autocomplete="funds" aria-required="true" readonly />
                    <span asp-validation-for="@Model.Flight.TicketPrice" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Flight.FlightClass" class="control-label"></label>
                <label>@Model.Flight.FlightClass</label>               
            </div>

            <hr class="my-4">
            <div class="form-group">
                <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Flight.Id"></a>
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
            </div>
            
        }
    </div>

</div>
