@model IEnumerable<Flight_eBooking.Models.Flight>
@{
    ViewData["Title"] = "List of Flights";
    string[] TableHeaders = new string[] { "Flight Name", "Departure Date", "Flight Class",
        "Ticket Price", "Seats", "Departure Destination",
            "Arrival Destination"};
}

<div class="py-5 text-center">
    <h2>List of Flights</h2>
    <p class="lead">Review, edit, delete flights</p>
</div>
<div class="py-3 text-center">
    <h5>Create a New Fight</h5>
    <a class="btn btn-outline-primary" asp-controller="Flights" asp-action="Create"><i class="bi bi-airplane"></i> New Flight</a>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)

                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @item.FlightName
                            </td>
                            <td class="align-middle">
                                @item.DepartureDate.ToShortDateString()
                            </td>
                            <td class="align-middle">
                                @item.FlightClass.ToString()
                            </td>
                            <td class="align-middle">
                                @item.TicketPrice.ToString()
                            </td>
                            @if (@item.Seats <= 5)
                            {
                                <td class="align-middle" style="color:#FF0000">
                                    @item.Seats.ToString()
                                </td>
                            }
                            else
                            {
                                <td class="align-middle">
                                    @item.Seats.ToString()
                                </td>
                            }
                            <td class="align-middle">
                                @Html.DisplayFor(m => item.DestinationDeparture.NameDest)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(m => item.DestinationArrival.NameDest)
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-outline-primary" asp-controller="Flights" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit </a>
                                <a class="btn btn-outline-info" asp-controller="Flights" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details </a>
                                <a class="btn btn-danger text-white" asp-controller="Flights" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

