@model IEnumerable<Flight_eBooking.Models.Reservation>

@{
    ViewData["Title"] = "List of current Reservations";
    string[] TableHeaders = new string[] { "Reservation identification number",
        "User's Name", "User's email", "Flight Name", "Departure Date",
        "Flight Class", "Total Price", "Number of reserved seats", "Current Reservation Status"};
    ViewBag.TotalPrice = 0;
}

<div class="py-5 text-center">
    <h2>ViewData.Title</h2>
    <p class="lead">Current Reservations</p>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                    <th>Actions</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Agent"))
                    {
                        <th>Change Reservation Status</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        ViewBag.TotalPrice = item.NumberOfSeats * item.Flight.TicketPrice;
                        <tr>
                            <td class="align-middle">
                                @item.Id
                            </td>
                            <td class="align-middle">
                                @item.User.FirstName @item.User.LastName
                            </td>
                            <td class="align-middle">
                                @item.User.Email.ToString()
                            </td>
                            <td class="align-middle">
                                @item.Flight.FlightName.ToString()
                            </td>
                            <td class="align-middle">
                                @item.Flight.DepartureDate.ToLongDateString()
                            </td>
                            <td class="align-middle">
                                @item.Flight.FlightClass.ToString()
                            </td>
                            <td class="align-middle">
                                @ViewBag.TotalPrice $
                            </td>
                            <td class="align-middle">
                                @item.NumberOfSeats
                            </td>
                            <td class="align-middle">
                                @item.StatusRes.ToString()
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-outline-info" asp-controller="Flights" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Flight Details </a>                             
                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Agent"))
                            {
                                <td class="align-middle">
                                    @if (item.StatusRes == Flight_eBooking.Data.Enums.ReservationStatus.Pending)
                                    {
                                        @using (Html.BeginForm("Approve", "Reservations", new { id = item.Id }))
                                        {
                                            <input type="submit" value="Approve" class="btn btn-success text-white" />
                                        }
                                        <hr/>
                                        @using (Html.BeginForm("Decline", "Reservations", new { id = item.Id }))
                                        {
                                            <input type="submit" value="Decline" class="btn btn-danger text-white" />
                                        }
                                    }
                                    else if (item.StatusRes == Flight_eBooking.Data.Enums.ReservationStatus.Approved)
                                    {
                                        @using (Html.BeginForm("Decline", "Reservations", new { id = item.Id }))
                                        {
                                            <input type="submit" value="Decline" class="btn btn-danger text-white" />
                                        }
                                    }
                                    else
                                    {
                                        @using (Html.BeginForm("Approve", "Reservations", new { id = item.Id }))
                                        {
                                            <input type="submit" value="Approve" class="btn btn-success text-white" />
                                        }
                                    }

                                </td>
                            }
                        </tr>
                    }

                }
            </tbody>

        </table>

    </div>
</div>