@model IEnumerable<Flight_eBooking.Models.Reservation>

@{
    ViewData["Title"] = "List of my current Reservations";
    string[] TableHeaders = new string[] { "Reservation identification number",
        "Flight Name", "Departure Date", "Flight Class", 
        "Total Price", "Number of reserved seats", "Current Reservation Status"};
    ViewBag.TotalPrice = 0;
}

<div class="py-5 text-center">
    <h2>@ViewData["Title"]</h2>
    <p class="lead">My Current Reservations</p>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table" id="myresTable">
            <thead>
                <tr class="text-center">
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                    <th>Check Flight</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        ViewBag.TotalPrice = item.NumberOfSeats * item.Flight.TicketPrice;
                        <tr data-id="@item.Id" class="text-center">
                            <td class="align-middle" id="resId">
                                @item.Id
                            </td>
                            <td class="align-middle" id="flightName">
                                @item.Flight.FlightName.ToString()
                            </td>
                            <td class="align-middle" id="flightDepartureDate">
                                @item.Flight.DepartureDate.ToLongDateString()
                            </td>
                            <td class="align-middle" id="flightClass">
                                @item.Flight.FlightClass.ToString()
                            </td>
                            <td class="align-middle" id="totalPrice">
                                @ViewBag.TotalPrice $
                            </td>
                            <td class="align-middle" id="numOfSeats">
                                @item.NumberOfSeats
                            </td>
                            <td class="align-middle statusResCell" id="statusRes">
                                @item.StatusRes.ToString()
                            </td>
                            <td class="align-middle" id="flightDetails">
                                <a class="btn btn-outline-info" asp-controller="Flights" asp-action="Details" asp-route-id="@item.FlightId"><i class="bi bi-eye"></i> Flight Details </a>
                            </td>                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
